{{#if @attachments.length}}
    <div class="attachments {{if hasPictures 'has-pictures'}}">
        <div class="attachments-wrapper" {{ref this._setRef}}>
            {{#each @attachments as |file|}}
                <FileItem @file={{file}} />
            {{/each}}
        </div>
        {{#if isOverflowing}}
            {{#if this.isLeftArrowEnabled}}
                <div class="prev-btn">
                    <button class="fa fa-angle-left" {{on 'click' this.scrollLeft}}></button>
                </div>
            {{/if}}
            {{#if this.isRightArrowEnabled}}
                <div class="next-btn">
                    <button class="fa fa-angle-right" {{on 'click' this.scrollRight}}></button>
                </div>
            {{/if}}
        {{/if}}
    </div>
{{/if}}