<div class="item">
    {{#if isDocument}}
        <div class="document">
            <p class="doc-name">{{file.fileName}}</p>
            <div class="doc-type">
                {{file-extension file.ext}}
                <span>{{file.fileType}}</span>
            </div>
        </div>
    {{else if isImage}}
        <div class="picture">
            <img class="pics" src={{file.clipSrc}} alt={{file.fileName}}/>
        </div>
    {{else if isVideo}}
        <div class="video">
            <div class="video-clip">
                <i class="fa fa-play-circle-o"></i>
                <img src={{file.clipSrc}}/>
            </div>
            <div class="video-info">
                <p class="video-name">{{file.fileName}}</p>
                <span>{{file.description}}</span>
            </div>
        </div>
    {{/if}}
</div>