<div class="mail-wrapper" {{ref this._setRef}}>
    <div class="grower" />
    <div class="mail-summary shadow" {{on "click" this.handleMessageClose}}>
        <div class="mail-subject">{{@message.subject}}</div>
    </div>
    <div class="mail-content-details">
        <div class="mail-body">
            <Avatar @src={{@message.avatar}} />
            <div class="mail-details">
                <div class="sender">
                    <sapn>{{@message.senderName}}</sapn>
                    <span> to me </span>
                </div>
                <div class="message">{{{@message.content}}}</div>
            </div>
        </div>
        <FileAttachement @attachments={{@message.attachments}} />
        <div class="mail-footer shadow">
            <QuickReply
                @onReply={{this.onReply}}
                @isReplying={{this.isReplying}}
                @senderName={{@message.senderName}}
            />
        </div>
    </div>
    <div class="pusher" />
</div>