<AppBar
    @hasItems={{hasItems}}
    @count={{selectedCount}}
    @title={{currentRoutePath}}
    @isChecked={{showPinnedItems}}
    @emptyQueue={{emptyQueue}}
    @toggleSideBar={{toggleSideBar}}
    @togglePinnedItems={{togglePinnedItems}}
/>
<div class="body-wrapper">
    <NavSidebar
        @isSidebarOpen={{isSidebarOpen}}
        @currentPath={{currentRoutePath}}
    />

    <ComposeContainer
        @bringToFront={{bringToFront}}
        @onCloseCompose={{onCloseCompose}}
        @composeSessions={{composeSessions}}
    />

    <FloatingActionButton
        @showInvite={{showInvite}}
        @onCreateCompose={{onCreateCompose}}
    />

    {{outlet}}
</div>
{{outlet 'modal'}}