{{app-bar
    hasItems = hasItems
    title = currentRoutePath
    emptyQueue = "emptyQueue"
    toggleSideBar = "toggleSideBar"
    togglePinnedItems = "togglePinnedItems"
}}
<div class="body-wrapper">
    {{nav-sidebar
        isSidebarOpen = isSidebarOpen
        currentPath = currentRoutePath
    }}
    {{fa-button
        showInvite = "showInvite"
        onCreateCompose = "onCreateCompose"
    }}
    {{compose-container
        bringToFront = "bringToFront"
        composeSessions = composeSessions
        onCloseCompose = "onCloseCompose"
    }}
    {{outlet}}
</div>
{{outlet 'modal'}}