<section>
    {{#unless messages.length}}
        <article class="empty-page-wrapper">
            <div class="inbox-empty-page-wrapper">
                <div class="inbox-content">
                    <span>Pin important emails so that you can quickly access them whenever you want.</span>
                    <button>GOT IT</button>
                </div>
            </div>
        </article>
        {{else}}
            {{#each messageGroups as |group|}}
                <article class="wrapper">
                    <div class="header">
                        <div class="time">{{group.chunk}}</div>
                        <div class="action">
                            <button><i class="fa fa-check fa-lg"></i></button>
                        </div>
                    </div>
                    {{#each group.messages as |message|}}
                        <MailItem
                            @mail={{message}}
                            @showSnooze={{showSnooze}}
                            @isSelected={{globalSelect}}
                            @showSettings={{showSettings}}
                            @onUpdate={{action "updateMessagePin"}}
                            @onSelectionChange={{action "onSelectionChange"}}
                        />
                    {{/each}}
                </article>
            {{/each}}
    {{/unless}}
</section>